<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue.js Intro</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="calculator.js" defer></script>
  </head>
  <body>
    <div id="app">
      {{ message }}
      <div>
        1st number:
        <input v-model="number1" />
      </div>
      <div>
        2nd number:
        <input v-model="number2" />
      </div>
      <div>
        3rd number:
        <input v-model="number3" />
      </div>
      <div><button v-on:click="computeSum">Compute sum</button></div>
      <p>The sum of all three values: {{total}}</p>
      <div><button v-on:click="computeProduct">Compute product</button></div>
      <p>The product of all three values: {{product}}</p>
    </div>
    </div>
  </body>
</html>
