<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Practice Vue.js</title>
    <style>
      .disabled {
        color: darkolivegreen;
        transition: color 2s ease;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js" defer></script>
  </head>
  <body>
    <h1>Hello from HTML!</h1>
    <div id="app">
      <p>{{ message }}</p>
      <input v-model="message" />
      <p><button v-on:click="loudNoises">click here Brick</button></p>
      <hr />
      <!-- {{showSecret}} -->
      <div v-if="showSecret">{{secret}}</div>
      <div v-if="showSecret" v-bind:class="{disabled: showSecret}">They are GREEN!</div>
      <button v-on:click="toggleSecret">Show/Hide Secret</button>
      <hr />
      <div v-for="color in colors">{{color}}</div>
      <input v-model="newColor" />
      <button v-on:click="addColor">Add color</button>
    </div>
  </body>
</html>
